.text{
  display:flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px gray;
  width: 100%;
  max-width: 448px;
  margin:auto;
  margin-top: 90px;
  box-shadow: 7px;
  border-radius: 10px;
  background: gray;
  }
  .text h2{
    color: white;
  }
  
  .inputt{
    width: 300px;
    padding: 7px;
    margin: 10px;
    color: orangered;
    box-shadow: 7px gray;
    border-radius: 10px;
    border-style: none;
  }
  button{
    padding: 7px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border-style: none;
  
  }
  .text2{
    display: flex;
    margin-bottom:20px ;
  }
  input{
    cursor: pointer;
  }
  button:hover{
    cursor: pointer;
    background-color: orangered ;
  }
  label{
    color: orangered;
  }
  /* Responsive Styles */
  @media (max-width: 480px) {
    .text {
      margin-top: 150px;
      padding: 15px;
    }
  
    .inputarea {
      display: flex;
      width: 100%;
    }
    .text2{
      display: flex;
      width: 100%;
    }
  
   
  }
  